In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
df=pd.read_csv("mlr_data.csv")
df

          X1        X2        X3          y
0   3.745401  9.507143  7.319939  -9.758717
1   5.986585  1.560186  1.559945  13.200835
2   0.580836  8.661761  6.011150 -12.993824
3   7.080726  0.205845  9.699099  33.623561
4   8.324426  2.123391  1.818250  14.919216
..       ...       ...       ...        ...
95  0.359423  4.655980  5.426446  -1.645753
96  2.865413  5.908333  0.305002  -8.866716
97  0.373482  8.226006  3.601906 -17.012851
98  1.270605  5.222433  7.699936   0.800353
99  2.158210  6.228905  0.853475 -12.101789

[100 rows x 4 columns]

In [3]:
X=df.drop(columns='y')
Y=df.y
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [4]:
model=LinearRegression()
model.fit(X_train,Y_train);

In [5]:
Y_train_pred = model.predict(X_train)
mse_train = mean_squared_error(Y_train, Y_train_pred)
print(mse_train)
weights = model.coef_
bias = model.intercept_

print("a=", weights)
print("b=:", bias)

0.8876437242148614
a= [ 2.02466169 -3.50131765  1.56421997]
b=: 4.59003823877539

In [6]:
from sklearn.datasets import make_regression
X, y, coef = make_regression(n_samples=1000,
                             n_features=2,
                             n_informative=2,
                             noise=10.0,
                             bias=1.0,
                             coef=True,
                             random_state=42)

In [7]:
df = pd.DataFrame(
           data={'feature1':X[:,0],
                 'feature2':X[:,1],
                 'target (y)':y, 
                 'weight1':coef[0],
                 'weight2':coef[1], 
                 'bias':1 , 
                 'y_hat': ((coef[0]*X[:,0])+(coef[1]*X[:,1]))+1 })
df.head() # let view the dataframe

   feature1  feature2  target (y)    weight1   weight2  bias      y_hat
0 -0.167118  0.146714  -13.996950  40.710649  6.600984     1  -4.835031
1 -0.020902  0.117327  -11.678089  40.710649  6.600984     1   0.923559
2  0.150419  0.364961   18.775455  40.710649  6.600984     1   9.532753
3  0.555604  0.089581    7.661465  40.710649  6.600984     1  24.210339
4  0.058209 -1.142970  -13.195530  40.710649  6.600984     1  -4.175014

In [8]:
xnew=df.drop(columns=['target (y)','weight1','weight2','bias','y_hat'],index=None)
ynew=df['target (y)']

In [9]:
model=LinearRegression()
model.fit(xnew,ynew);
weights = model.coef_
bias = model.intercept_

print("a=", weights)
print("b=:", bias)

a= [41.06916799  6.79879364]
b=: 1.0156877286323682

In [20]:
a=np.array([0.020902,0.117327])
a_reshaped = a.reshape(1, -1)
model.predict(a_reshaped)

c:\Users\A C E R\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([2.67179754])